@font-face {
    font-family: 'iannnnnCPU';
    src: url('./fonts/2005_iannnnnCPU.ttf') format('truetype');
  }
  
  body {
    font-family: 'iannnnnCPU', sans-serif;
    letter-spacing: 0.1em; 
    line-height: 1.5; 
  }
  